

@import "../vars";


._main_container{
margin-top: $_container_mt;
color: black;
}

._page_title{
margin-top: 8rem;
display: flex;
margin-left: 4rem;
gap: 1rem;  
&>div{
font-size: 18px;
}
&>span{
color: $_NavItamsColor;
}
& > div:last-child{
color: $navbackground_color;
} 



}

._page_title_v1{
margin-top: 2rem;
margin-left: 3.5rem;
font-size: 24px;
}