
// rgb(55 65 81);
// 
//FIXME:
$_font_family:'Montserrat',sans-serif;
$_text_fontfamily:'Montserrat',sans-serif;
$_body_font_weight:normal;
$_body_Backbackground_color:#fff;
$_custom_font_Color:black;
$_custom_font_Color_v1:rgba(0,0,0,.5);

//FIXME: Nav Bar _Vars
$navbackground_color:rgba(0,0,0,.5);
$_NavFilterBlur:5px;
$_NavItamsColor:#00bfff;
$_container_mt:5rem;

//FIXME: buttom_container
$fixed_buttom_background_color:#efefef;
$buttom_color:rgba(0,0,0,.5);

///
$_hover_transition:all 0.2s ease-out;

